# Virtual Environment
venv/
.env

# Python cache
__pycache__/
*.pyc

# Dataset
data/raw/
data/predictions/

# Streamlit
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/